.header {
  color: #fff;
  font-family: Montserrat,sans-serif;
  font-weight: 700;
  font-size: 2.15rem;
}

.header_container {
  background-color: #000;
  box-shadow: 0 4px 20px rgb(38 38 38 / 10%);
  display: flex;
  justify-content: space-between;
  position: fixed!important;
  width: 100%;
  z-index: 999;
  top: 0;
  margin-bottom: 32px;
}